.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    color: #222529;
    padding: 20px;
    border-bottom: 3px #dde3eb solid;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: #222529;
    text-decoration: none;
    font-size: 20px;
    font-family: Open Sans;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .line {
    width: 25px;
    height: 3px;
    background-color: #FFFFFF;
    margin: 3px;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .hamburger {
      display: flex;
    }
  }
  