/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    color: #222529;
    padding: 20px;
    border-bottom: 3px #dde3eb solid;
    font-family: Helvetica, sans-serif;
    
  }
  
  .logo {
    font-size: 24px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: #222529;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  } */
  
  .line {
    width: 25px;
    height: 3px;
    background-color: #FFFFFF;
    margin: 3px;
  }
  
   @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .hamburger {
      display: flex;
    }
  }
  ul li a{
   text-decoration: none;
  }

  .navbar {
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    color: #222529;
    padding: 15px;
    border-bottom: 3px #dde3eb solid;
    background-color: #24405596;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
   
  }
  
  .nav-links li{
    margin-left: 20px;

  }
  
  .nav-links a {
    color: #222529;
    text-decoration: none;
    font-size: 28px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    transition: box-shadow 0.3s ease;
    display: inline-block;
    padding: 8px;
  }
  .nav-links a:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    display: block;
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  
  .dropdown-content a {
    color: #222529;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    background-color: #8ea6c3;
  }
  #desplegable{
    display: none;
  }
  menu:hover {
    display: block;
  }

/*Nuevo */
  