<!-- <nav>
  <ul>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/productos', 'gaseosas']">Gaseosas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/productos', 'vinos']">Vino</a>
      </li>
     
  </ul>
</nav> -->
<nav class="navbar">
  <div class="logo">PUCCI</div>
  <ul class="nav-links">
    <li>
      <a class="nav-link" [routerLink]="['/productos', 'vinos']">Vino</a>
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/productos', 'gaseosas']">Gaseosas</a>
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/productos', 'gaseosas']">Gaseosas</a>
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/productos', 'gaseosas']">Gaseosas</a>
    </li>
  </ul>
  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</nav>

