.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001844;
    height: 250px;
  }
  img{
    width: 40rem;
    height: 50%;

  }
  span{

    width: 4rem;
    height: 100%;
    
  }