<!-- <div class="side-conteiner">
    <nav>
      <ul>
        <li *ngFor="let variety of varieties" (click)="onSelectVariety(variety)">
          <a >{{ variety }}</a>
        </li>
      </ul>
    </nav> -->
  
<!-- <div>
    <div>
        <div *ngIf="winesVarieties.length > 0; ">
            <h2>Vinos de la variedad seleccionada:</h2>
            <div class="product-card">
            <div class="card" *ngFor="let product of winesVarieties">
            <img [src]="product.img" alt="{{ product.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description }}</p>
              <p class="card-text">Marca: {{ product.marca }}</p>
              <div class="boton">Comprar</div>
            </div>
        </div>
    </div>
</div> -->

