<!-- <h2>Lista de productos</h2>
<div class="product-card">
  <div class="card" *ngFor="let product of products">
    <img [src]="product.img" alt="{{ product.name }}">
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <p class="card-text">Marca: {{ product.marca }}</p>
      <div class="boton">Comprar</div>
    </div>
  </div>
</div> -->
<header class="header">
  <div class="conteiner-img">
    <img [src]="headerImage" alt="Header Image">
  </div>
</header>
  

<!-- <h2>Lista de productos</h2> -->
<div class="product-card">
  <div class="card" *ngFor="let product of products">
    <img [src]="product.img" alt="{{ product.name }}">
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
     <p>{{product.variety}}</p>
      <p class="card-text">{{ product.marca }}</p>
      <div class="boton">Añadir Carro</div>
    </div>
  </div>



  



<!--PRUEBA BARRA LATERAL-->
<!-- <div class="body">
  <div class="sidebar">
    <h2>Marcas</h2>
    <ul>
      <li>Marca 1</li>
      <li>Marca 2</li>
      <li>Marca 3</li>
 
    </ul>
  </div>

  <div class="product-card">
    <div class="card" *ngFor="let product of products">
      <img [src]="product.img" alt="{{ product.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text">Marca: {{ product.marca }}</p>
        <div class="boton">Comprar</div>
      </div>
    </div>
  </div>
</div> -->
