<footer class="footer">
    <div class="group-1">
        <div class="box">
            <figure>
                <a href="">
                    <!-- <img src="assets/img/CoinControlLogo/Coincontrolsimple.png" alt="Logo"> -->
                </a>
            </figure>
        </div>
        <div class="box">
            <h2 id="intro">SOBRE NOSOTROS</h2>
            <p>Bienvenidos a nuestro catalogo en linea para que 
                tengas alcance de la mano todo nuestros productos </p>
                <p>Hace tu pedido directamente por 
                    WhatsApp</p>
                <span>Acomñandolos desde 1986</span>
        </div>
        <div class="box">
            <span>CONTACTO</span>
            <p></p>
            <span>Direccion:</span>
            <p>Rivadavia 872 <br/>
            Villa Mugueta (Santa fe) <br/>
            Argentina.</p>
            <span>Telefono:</span>
            <p>+54 0341-156965943</p>
            <span>Email: <br />
                <p>soderiapuccini@gmail.com</p>
              </span>
              <span>
                Horarios: <br />
               <p>Lun a Sab de 8 a 13hs y 16 a 20hs. <br />
                Domingos medio dia.</p> 
            </span>
        </div>
        <!-- <div class="box">
            <h2>SEGUINOS</h2>
            <div class="social-media">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-envelope-at"></i></a>
            </div>
        </div> -->
    </div>
<div class="group-2">
    <small>&copy; 2023 <b>Soderia PUCCINI</b> - Todos los Derechos Reservados.</small>
</div>
</footer>