<div>
    <div>
        <div *ngIf="winesVarieties.length > 0; ">
            <h2>Vinos de la variedad seleccionada:</h2>
            <div class="product-card">
            <div class="card" *ngFor="let product of winesVarieties">
            <img [src]="product.img" alt="{{ product.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.variety }}</p>
              <p class="card-text"> {{ product.marca }}</p>
              <div class="boton">Añadir Carro</div>
              <button *ngIf="product.category === 'Vinos'"  (click)="selectProduct(product)">detalle</button>
            </div>
        </div>
    </div>
</div>
